article {
  transition: all 0.4s ease 0s;
  cursor: pointer;
  width: 350px;
  border-radius: 20px;
  overflow: hidden;
  margin: 10px;

  img {
    width: 80%;
    margin: auto;
    display: block;
  }
}

.cardInner {
  position: relative;
  height: 453px;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
  border: 10px solid grey; 
  background-color: grey;
  width: calc(100% - 20px);
  -webkit-box-shadow: -1px 2px 13px 0px rgba(0, 0, 0, 0.74);
  box-shadow: -1px 2px 13px 0px rgba(0, 0, 0, 0.74);
}

article[data-reverse='true'] .cardInner {

  transform: rotateY(180deg);
}

.cardFront,
.cardBack {
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
}

.cardBack {
  color: #eeeeee;
  transform: rotateY(180deg);
  background-image: url('../../../public/pokemonBack.png');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  z-index: 2;

  & {
    a {
      background-color: #ffcb05;
      color: #305f88;
      text-transform: uppercase;
      text-decoration: none;
      padding: 10px 20px;
      font-weight: bold;
      border: 3px solid #305f88;
      border-radius: 5px;
    }
  }
}

picture {
  display: block;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 10px 10px 0 0;
}

figcaption {
  background-color: rgba(255, 255, 255, 0.5); 
  position: relative;
  border-radius: 0 0 10px 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 15px;
}

h2 {
  text-align: center;
}

#filtre {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


select {
  appearance: none;
  outline: 0;
  border: 0 !important;
  background: #f9f9f9;
  background-image: none;
  box-shadow: none;
  font-size: 1.2em;
  width: 100%;
  height: 100%;
  margin: 0;
  padding-left: 15px;
  color: #555555;
  cursor: pointer;
}

.type {
  background-color: #000;
  color: #fff;
  padding: 5px 10px;
  position: absolute;
  top: -10px;
  left: 10px;
  border-radius: 5px;
}


#types {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5%;
  width: 800px;

  & > div {
    width: 60px;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 170px;
    height: 60px;
    margin: 5px;

    &:hover {
      transform: scale(1.2);
      cursor: pointer;
    }

    & img {
      width: 100%;
    }
  }
}


.select {
  position: relative;
  width: 350px;
  height: 45px;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #ced4da;
  &::after {
    content: '\276F';
    position: absolute;
    top: 20%;
    right: 0;
    padding: 0 15px;
    background: white;
    pointer-events: none;
    transform: rotate(90deg);
    font-size: 1.5em;
    background: #f9f9f9;
  }

  &:hover::after {
    color: #fa6141;
  }
}

.addToPokedex {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
  img {
    width: inherit;
  }
}
